In [5]:
import pandas as pd
df = pd.read_excel('https://raw.githubusercontent.com/Joseba-Bermejo/shark_attacks_quest2/main/data_for_analysis.xlsx')

## Business Case

A travel insurance provider seeks to refine its risk models by identifying patterns in fatal shark attacks based on activity type, region, and victim profile.

### Hypothesis: 
“In the last 25 years shark attacks are more likely to result in fatalities when they are unprovoked" [Date, Fatal Y/N, Type]

"Australia is the area with more fatal shark attacks in victims doing underwater activities" [Country, Activity, Fatal Y/N]

"Among male shark attack victims, those aged 25 or younger are more likely to suffer fatal outcomes." [age, gender, Fatal Y/N]

In [19]:
df

        year          type              country  activity sex   age fatal
0     2025.0    Unprovoked  Australia & Oceania  Swimming   M  30.0     N
1     2025.0    Unprovoked  Australia & Oceania   Surfing   M  37.0     Y
2     2025.0    Unprovoked  Australia & Oceania  Swimming   F  56.0     N
3     2025.0    Unprovoked  Australia & Oceania  Swimming   M  40.0     N
4     2025.0  Questionable                Other    Diving   M  29.0     Y
...      ...           ...                  ...       ...  ..   ...   ...
6990     0.0    Unprovoked  Australia & Oceania    Diving   M   NaN     Y
6991     0.0    Unprovoked  Australia & Oceania    Diving   M   NaN     Y
6992     0.0    Unprovoked        North America  Swimming   M   NaN     Y
6993     0.0    Unprovoked                Other   Unknown   M   NaN     Y
6994     0.0    Unprovoked                 Asia  Swimming   M  15.0     Y

[6995 rows x 7 columns]

In [1]:
# Hypothesis 1: In the last 25 years shark attacks are more likely to result in fatalities when they are unprovoked.

In [21]:
recent_df = df[df['year'] >= 2000]

In [23]:
recent_df

        year          type              country  activity sex   age fatal
0     2025.0    Unprovoked  Australia & Oceania  Swimming   M  30.0     N
1     2025.0    Unprovoked  Australia & Oceania   Surfing   M  37.0     Y
2     2025.0    Unprovoked  Australia & Oceania  Swimming   F  56.0     N
3     2025.0    Unprovoked  Australia & Oceania  Swimming   M  40.0     N
4     2025.0  Questionable                Other    Diving   M  29.0     Y
...      ...           ...                  ...       ...  ..   ...   ...
2748  2000.0    Unprovoked  Australia & Oceania   Surfing   M  12.0     N
2749  2000.0    Unprovoked  Australia & Oceania   Surfing   M  26.0     N
2750  2000.0    Watercraft               Europe     Other   M   NaN     Y
2751  2000.0    Unprovoked                 Asia    Diving   M  35.0     Y
2752  2000.0    Watercraft        North America   Fishing   M   NaN     N

[2752 rows x 7 columns]

In [31]:
# Convert 'fatal' column to numeric: 1 for fatal, 0 for non-fatal
filtered_df['fatal_numeric'] = filtered_df['fatal'].map({'Y': 1, 'N': 0})

# Now pivot using the numeric version
pivot_df = filtered_df.pivot_table(
    index='type',
    values='fatal_numeric',
    aggfunc=['count', 'sum', 'mean']
)

# Rename the columns
pivot_df.columns = ['total_attacks', 'fatal_attacks', 'fatality_rate']

/var/folders/y6/yy6xx0td03j17rtqbfny6l900000gn/T/ipykernel_34673/3488995174.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['fatal_numeric'] = filtered_df['fatal'].map({'Y': 1, 'N': 0})

In [33]:
filtered_df

,year,type,country,activity,sex,age,fatal,fatal_numeric
0,2025.0,Unprovoked,Australia & Oceania,Swimming,M,30.0,N,0.0
1,2025.0,Unprovoked,Australia & Oceania,Surfing,M,37.0,Y,1.0
2,2025.0,Unprovoked,Australia & Oceania,Swimming,F,56.0,N,0.0
3,2025.0,Unprovoked,Australia & Oceania,Swimming,M,40.0,N,0.0
5,2025.0,Unprovoked,Australia & Oceania,Kayaking,F,35.0,N,0.0
...,...,...,...,...,...,...,...,...
2746,2000.0,Unprovoked,Africa,Surfing,M,NaN,N,0.0
2747,2000.0,Provoked,Europe,Other,M,NaN,N,0.0
2748,2000.0,Unprovoked,Australia & Oceania,Surfing,M,12.0,N,0.0
2749,2000.0,Unprovoked,Australia & Oceania,Surfing,M,26.0,N,0.0
2751,2000.0,Unprovoked,Asia,Diving,M,35.0,Y,1.0

In [37]:
pivot_df['fatality_rate'] = (pivot_df['fatality_rate'] * 100).round(2)

In [39]:
pivot_df.rename(columns={'fatality_rate': 'fatality_rate (%)'}, inplace=True)

In [41]:
pivot_df

            total_attacks  fatal_attacks  fatality_rate (%)
type
Provoked              218            6.0               2.75
Unprovoked           2158          233.0              10.80

In [36]:
# 3rd Hypothesis check

# Filtering for males who have a know age and fatalities that are not marked as unknown

df3_clean = df[(df["fatal"] == "Y") | (df["fatal"] == "N")]
df3_male = df3_clean[(df3_clean["sex"] == "M") & (df3_clean["age"].notnull())]
df3_male

        year          type              country  activity sex   age fatal
0     2025.0    Unprovoked  Australia & Oceania  Swimming   M  30.0     N
1     2025.0    Unprovoked  Australia & Oceania   Surfing   M  37.0     Y
3     2025.0    Unprovoked  Australia & Oceania  Swimming   M  40.0     N
4     2025.0  Questionable                Other    Diving   M  29.0     Y
6     2025.0  Questionable  Australia & Oceania   Fishing   M  58.0     Y
...      ...           ...                  ...       ...  ..   ...   ...
6936     0.0    Unprovoked          Middle East  Swimming   M  16.0     N
6947     0.0      Provoked            Caribbean   Fishing   M  50.0     Y
6958     0.0    Unprovoked          Middle East  Swimming   M  13.0     Y
6969     0.0    Unprovoked            Caribbean  Standing   M  16.0     Y
6994     0.0    Unprovoked                 Asia  Swimming   M  15.0     Y

[3158 rows x 7 columns]

In [38]:
# Create two groups for males who are 25 years or younger and more than 25 years old

df3_male["age_group"] = df3_male["age"].apply(lambda x: "≤25" if x <= 25 else ">25")
df3_male["age_group"]

/var/folders/y6/yy6xx0td03j17rtqbfny6l900000gn/T/ipykernel_24265/4142603388.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3_male["age_group"] = df3_male["age"].apply(lambda x: "≤25" if x <= 25 else ">25")

0       >25
1       >25
3       >25
4       >25
6       >25
       ...
6936    ≤25
6947    >25
6958    ≤25
6969    ≤25
6994    ≤25
Name: age_group, Length: 3158, dtype: object

In [28]:
# to check fatalities per age group

df3_male.groupby("age_group")["fatal"].value_counts()

age_group  fatal
>25        N        1199
           Y         274
≤25        N        1352
           Y         333
Name: count, dtype: int64

In [34]:
# Make a pivot table out of it

df3_pivot = df3_male.pivot_table(index="age_group", columns="fatal", aggfunc="size", fill_value=0)
df3_pivot

fatal         N    Y
age_group
>25        1199  274
≤25        1352  333

In [51]:
df3_pivot.describe()

fatal            N         Y
count     2.000000    2.0000
mean   1275.500000  303.5000
std     108.187338   41.7193
min    1199.000000  274.0000
25%    1237.250000  288.7500
50%    1275.500000  303.5000
75%    1313.750000  318.2500
max    1352.000000  333.0000

### Conclusion

The data does not support the hypothesis.

Younger males (≤25) experience more shark attacks overall compared to older males (>25), both fatal and non-fatal. However, when it comes to fatality rate (the proportion of fatal outcomes compared to the total attacks) is very similar in both groups (around 23-24%).

## EXTRA HYPOTHESIS THAT WE DIDN'T ADD TO THE PRESENTATION

In [44]:
# EXTRA Hypothesis 1: Australia is the area with more fatal shark attacks in victims who are surfing.

# Filter for fatal attacks
df_fatal = df[df["fatal"] == "Y"]

In [60]:
# Filter for surfing within "activity"
df_surfing_fatal = df_fatal[df_fatal["activity"] == "Surfing"]

In [62]:
# Count fatal surfing attacks by country
fatal_surf_by_country = df_surfing_fatal["country"].value_counts()
print(fatal_surf_by_country)

country
Australia & Oceania    35
North America          21
Europe                 12
Africa                 12
South America           4
Other                   3
Asia                    2
Name: count, dtype: int64

### Conclusion

The data supports the hypothesis.

Australia is the area with more fatal attacks for surfers, however it's also the area with more attacks overall, so the absolut result could be skewed. The initial hypothesis could be better defined to get more meaningful insights.

In [52]:
# EXTRA Hypothesis 2: Surfing-related shark attacks in Australia are more likely to result in fatal outcomes compared to other regions.

In [54]:
# Filter surfing-related rows
df_surfing = df[df["activity"] == "Surfing"]

In [56]:
# Filter only fatal outcomes (Y/N), exclude unknowns
df_surfing_clean = df_surfing[df_surfing["fatal"].isin(["Y", "N"])]

In [58]:
# Create total surfing attacks per country
total_surf_by_country = df_surfing_clean["country"].value_counts()

In [60]:
# Create fatal surfing attacks per country
fatal_surf_by_country = df_surfing_clean[df_surfing_clean["fatal"] == "Y"]["country"].value_counts()

In [62]:
# Create a dataframe
surf_stats = pd.DataFrame({
    "Total": total_surf_by_country,
    "Fatal": fatal_surf_by_country
})

In [64]:
# Fill missing fatal values with 0, and calculate ratio
surf_stats["Fatal"] = surf_stats["Fatal"].fillna(0)
surf_stats["Fatality Rate (%)"] = (surf_stats["Fatal"] / surf_stats["Total"]) * 100

In [66]:
# Sort by Fatality Rate
surf_stats = surf_stats.sort_values(by="Fatality Rate (%)", ascending=False)

# Display
surf_stats

                     Total  Fatal  Fatality Rate (%)
country
Other                    9    3.0          33.333333
Europe                  42   12.0          28.571429
Asia                    12    2.0          16.666667
Australia & Oceania    321   35.0          10.903427
South America           47    4.0           8.510638
Africa                 142   12.0           8.450704
North America          786   21.0           2.671756
Caribbean                4    0.0           0.000000
Middle East              1    0.0           0.000000
Unknown                  1    0.0           0.000000

### Conclusion

The data does not supports the hypothesis.

Although Australia & Oceania has the highest number of surfing-related shark attacks, it ranks fourth in fatality rate, behind Europe, Asia, and "Other". This suggests that fatal outcomes are proportionally more common in those regions despite fewer total incidents.