In [13]:
import pandas as pd
df = pd.read_excel('https://raw.githubusercontent.com/Joseba-Bermejo/shark_attacks_quest2/main/GSAF5%20(1).xls')

In [14]:
!pip install openpyxl
!pip install xlrd

Requirement already satisfied: openpyxl in /opt/anaconda3/lib/python3.12/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /opt/anaconda3/lib/python3.12/site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: xlrd in /opt/anaconda3/lib/python3.12/site-packages (2.0.1)

## Quest 2
You will initially examine the Shark Attack dataset, understanding its structure and formulating a hypothesis or several hypotheses about the data. For example, you might hypothesize that shark attacks are more common in certain geographical locations, or among individuals engaging in particular activities.

If you want to go further, you could even define a Business Case, such as “As a company that sells diving trips, I want to suggest destination for shark spotting”, or “ As a company that sells surf experiences or surf boards, I want to know where to set up a new shop and avoid shark attacks”.

Throughout the project, you'll utilize Python programming and the pandas library to implement at least five data cleaning techniques to handle issues such as missing values, duplicates, and formatting inconsistencies. Once the dataset is cleaned, you'll use basic exploratory data analysis to validate your initial hypotheses and extract meaningful insights.

## Business Case

A travel insurance provider seeks to refine its risk models by identifying patterns in fatal shark attacks based on activity type, region, and victim profile.

OR

As a company that offers ocean-based adventure experiences (e.g., snorkeling, diving, and eco-tourism), we want to assess and minimize the risk of fatal shark encounters by understanding when and under what circumstances these incidents are most likely to occur.

### Hypothesis: 
“In the last 25 years shark attacks are more likely to result in fatalities when they are unprovoked" [Date, Fatal Y/N, Type]

"Australia is the area with more fatal shark attacks in victims doing underwater activities" [Country, Activity, Fatal Y/N]

"Among male shark attack victims, those aged 25 or younger are more likely to suffer fatal outcomes." [age, gender, Fatal Y/N]

In [18]:
df

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,2025-03-26 00:00:00,2025.0,Unprovoked,Australia,WA,Sandtrax Port Beach North Fremantle Perth,Swimming,Unknown Male,M,30+,...,1.5m Tiger shark,Kevin McMurray Trackingsharks.com: www.surfer....,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-03-10 00:00:00,2025.0,Unprovoked,Australia,WA,Duke of Orleans Bay,Surfing,Steven Jeffrey Payne,M,37,...,Great White Shark,Bob Myatt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-03-07 00:00:00,2025.0,Unprovoked,Australia,NSW,Gunyah beach Bundeena Port Hacking,Swimming,Mangyong Zhang,F,56,...,Bull shark,Bob Myatt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2025-02-27 00:00:00,2025.0,Unprovoked,Australia,Victoria,Nuns Beach near Portland,Swimming,Robbie Houlihan,M,40+,...,Not stated,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,27-Feb-25,2025.0,Questionable,Philippines,Batangas Resort,Verde Island,SCUBA Diving,Illia Peregudin,M,29,...,Not stated,Stephen Parkhill Glen Folkard,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
7005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
7006,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
7007,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
7008,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [187]:
df_new

,year,type,country,activity,sex,age,fatal,country_clustered
0,2025.0,Unprovoked,australia,Swimming,M,30.0,N,Australia & Oceania
1,2025.0,Unprovoked,australia,Surfing,M,37.0,Y,Australia & Oceania
2,2025.0,Unprovoked,australia,Swimming,F,56.0,N,Australia & Oceania
3,2025.0,Unprovoked,australia,Swimming,M,40.0,N,Australia & Oceania
4,2025.0,Questionable,philippines,Diving,M,29.0,Y,Other
...,...,...,...,...,...,...,...,...
7004,0.0,Unprovoked,australia,Diving,M,NaN,Y,Australia & Oceania
7005,0.0,Unprovoked,australia,Diving,M,NaN,Y,Australia & Oceania
7006,0.0,Unprovoked,usa,Swimming,M,NaN,Y,North America
7007,0.0,Unprovoked,panama,Unknown,M,NaN,Y,Other
7008,0.0,Unprovoked,sri lanka,Swimming,M,15.0,Y,Asia

In [20]:
df.Age.value_counts()

Age
16             92
19             90
17             89
18             85
17             85
               ..
28, 23 & 30     1
46 & 34         1
12 or 13        1
18 or 20        1
13 or 14        1
Name: count, Length: 249, dtype: int64

In [21]:
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')

In [22]:
df_new = df[['Date', 'Year', 'Type', 'Country', 'Activity','Sex', 'Age', 'Fatal Y/N']]

- Date: We only need to get the info from the cells if the year is 0000, and transfer it to the Year columns.
- Year: Add a year to the 0000 columns or empty columns, getting info from the date column.
- Type: Reduce everything to Provoked/Unprovoked. There are other values like invalid, watercraft, sea disaster, etc.
- Country: Pile caribbean countries into "Caribbean", and clean the rest of the countries to reflect only one name. Compare them with Australia.
- Activity: Divide underwater (diving, scuba diving, free diving, snorkelling) with the rest of activities (swimming, fishing, surfing, etc.).
- Sex: Clean it to reflect only M/F
- Age: Create two groups (1. over or equal to 25 and 2. under 25)
- Fatal: Clean it to reflect Y/N.

In [193]:
df_new

        year          type              country  activity sex   age fatal
0     2025.0    Unprovoked  Australia & Oceania  Swimming   M  30.0     N
1     2025.0    Unprovoked  Australia & Oceania   Surfing   M  37.0     Y
2     2025.0    Unprovoked  Australia & Oceania  Swimming   F  56.0     N
3     2025.0    Unprovoked  Australia & Oceania  Swimming   M  40.0     N
4     2025.0  Questionable                Other    Diving   M  29.0     Y
...      ...           ...                  ...       ...  ..   ...   ...
7004     0.0    Unprovoked  Australia & Oceania    Diving   M   NaN     Y
7005     0.0    Unprovoked  Australia & Oceania    Diving   M   NaN     Y
7006     0.0    Unprovoked        North America  Swimming   M   NaN     Y
7007     0.0    Unprovoked                Other   Unknown   M   NaN     Y
7008     0.0    Unprovoked                 Asia  Swimming   M  15.0     Y

[6995 rows x 7 columns]

## 1. Put all columns with lowercase

In [26]:
df_new.columns = ['date', 'year', 'type', 'country', 'activity', 'sex', 'age',
       'fatal']

## 2. Eliminate rows with all values missing.

In [28]:
df_new = df_new.dropna(how='all')

## 3. Checking if there are any null values in columns

In [30]:
df_new.isna().any()

# We understand from here that we need to work in all the columns, including the standardization of date.

date        False
year         True
type         True
country      True
activity     True
sex          True
age          True
fatal        True
dtype: bool

## 4. Checking number of unique values for each variable

In [32]:
df_new.nunique()

date        6054
year         261
type          12
country      242
activity    1601
sex            9
age          249
fatal         12
dtype: int64

In [92]:
df_new['age'].count()

3992

In [49]:
df_new.isnull().sum()

date           0
year           2
type          18
country       50
activity     585
sex          579
age         2994
fatal        561
dtype: int64

In [191]:
df_new.drop(columns=["country_clustered"], inplace=True)

## 5. I will start replacing invalid values in variables

#### 5.1 "sex" variable

In [52]:
df["Sex"].unique()

array(['M', 'F ', 'F', 'M ', nan, ' M', 'lli', 'M x 2', 'N', '.'],
      dtype=object)

In [53]:
df_new["sex"].value_counts()

sex
M        5622
F         798
M           3
N           2
F           1
 M          1
lli         1
M x 2       1
.           1
Name: count, dtype: int64

In [54]:
# Here I replaced the invalid values for usable values

sex_cleaning = {'F ':'F', 'M ':'M', ' M':'M', 'M x 2':'M', 'N':'M'}
df_new["sex"] = df_new["sex"].replace(sex_cleaning)

In [55]:
# Here I removed the last unique values that weren't "F" or "M". 
# "sex" column has now only "F" or "M" but has still 579 null values. Will check them later to see if we want to keep them or not.

df_new = df_new[(df_new['sex'] != "lli") & (df_new['sex'] != ".")] # | means OR and & meand AND when filtering

#### 5.2 "fatal" variable

In [57]:
df_new["fatal"].unique()

array(['N', 'Y', 'F', 'M', nan, 'n', 'Nq', 'UNKNOWN', 2017, 'Y x 2', ' N',
       'N ', 'y'], dtype=object)

In [58]:
df_new["fatal"].value_counts()

fatal
N          4879
Y          1475
UNKNOWN      71
 N            7
F             5
M             3
n             1
Nq            1
2017          1
Y x 2         1
N             1
y             1
Name: count, dtype: int64

In [59]:
# Here I replaced the invalid values for usable values
fatal_cleaning = {'F':'Y', 'M':'N', 'n':"N", 'Nq':"N",'Y x 2':'Y', ' N':'N','N ':'N', 'y':'Y'}
df_new["fatal"] = df_new["fatal"].replace(fatal_cleaning)

/var/folders/y6/yy6xx0td03j17rtqbfny6l900000gn/T/ipykernel_15102/156488164.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new["fatal"] = df_new["fatal"].replace(fatal_cleaning)

In [60]:
# Here I removed the last unique values that weren't "Y" or "N" or "UNKNOWN".
# "fatal" column has now only "Y", "N" or "UNKNOWN" but it has still null values. 
# Will check them later to see if we want to keep them or not.

df_new = df_new[(df_new['fatal'] != 2017)]

#### 5.3 "type" variable

In [62]:
print(df_new["type"].unique())
print(df_new["type"].value_counts())

['Unprovoked' 'Questionable' 'Provoked' ' Provoked' 'Watercraft'
 'Sea Disaster' nan '?' 'Unconfirmed' 'Unverified' 'Invalid'
 'Under investigation' 'Boat']
type
Unprovoked             5166
Provoked                636
Invalid                 552
Watercraft              355
Sea Disaster            241
Questionable             25
Boat                      7
 Provoked                 2
?                         1
Unconfirmed               1
Unverified                1
Under investigation       1
Name: count, dtype: int64

In [63]:
# Here I replaced the invalid values for usable values. However there are values that are not correlated to the question. 
# I will leave them for further analysis later.

type_cleaning = {' Provoked':'Provoked'}
df_new["type"] = df_new["type"].replace(type_cleaning)

In [64]:
# Here I excluded the variables with less than 7 observations, as these are marginal values and non-representative in the sample size.

df_new = df_new[(df_new['type'] != "Boat") & (df_new['type'] != "?") & (df_new['type'] != "Unconfirmed") 
& (df_new['type'] != "Unverified") & (df_new['type'] != "Under investigation")]

In [65]:
# "type" column has now only "Provoked", "Unprovoked", "Invalid", "Watercraft", "Sea disaster" & "Questionable" and null values. 
# Will check them later to see what to do with the non relevant categories and null values.

#### 5.4 "age" variable

In [96]:
print(df_new["age"].unique())
print(df_new["age"].value_counts())

[30. 37. 56. 40. 29. 35. 58. 24. 20. 55. 17. 12. 36. 23. 28. nan 69. 48.
 60. 57. 45. 61. 27. 38. 16. 68. 33. 15. 41. 14. 26. 18. 21. 49. 25. 46.
 19. 65. 64. 13. 11. 32. 10. 62. 39. 22. 66. 52. 44. 47. 59.  8. 50. 34.
  9. 77. 42. 73. 67.  6. 53. 43. 51. 31.  7. 71. 54. 75. 70.  4. 63. 74.
  3. 82. 72.  1.  5. 86. 84. 87. 81. 78.  2.]
age
17.0    176
20.0    170
16.0    170
18.0    161
15.0    158
       ...
86.0      1
84.0      1
87.0      1
81.0      1
2.0       1
Name: count, Length: 82, dtype: int64

In [94]:
# Here I replaced the invalid values for usable values
age_cleaning = {
    30: 30, '37': 37, '56': 56, 40: 40, '29': 29, 35: 35, 58: 58, 29: 29, 24: 24, 20: 20,
    55: 55, 17: 17, 12: 12, 37: 37, 36: 36, 23: 23, 28: 28, '?': None, 69: 69, 48: 48,
    60: 60, 57: 57, 45: 45, 61: 61, 27: 27, 38: 38, 16: 16, 68: 68, 33: 33, 15: 15,
    41: 41, 14: 14, 26: 26, 18: 18, 21: 21, 49: 49, 25: 25, 46: 46, 19: 19, 65: 65,
    64: 64, '13': 13, float('nan'): None, '11': 11, '46': 46, '32': 32, '10': 10, '64': 64,
    '62': 62, '39': 39, '22': 22, '15': 15, '16': 16, '21': 21, '66': 66, '52': 52,
    '20': 20, '44': 44, '26': 26, '47': 47, '55': 55, '30': 30, '59': 59, '8': 8,
    '50': 50, '34': 34, '38': 38, '9': 9, '19': 19, '20/30': 20, '35': 35, '77': 77,
    '49': 49, '42': 42, '!2': None, '24': 24, '73': 73, '25': 25, '18': 18, '58': 58,
    '67': 67, '17': 17, '14': 14, '6': 6, '53': 53, '43': 43, '40': 40, '51': 51,
    '31': 31, 39: 39, 51: 51, 10: 10, 13: 13, 62: 62, 8: 8, 22: 22, 32: 32, 56: 56,
    42: 42, 50: 50, 'M': None, 9: 9, 11: 11, 34: 34, '!6': None, 31: 31, '!!': None,
    47: 47, 7: 7, 71: 71, 59: 59, 53: 53, 54: 54, 75: 75, '45 and 15': 45, 73: 73,
    52: 52, 70: 70, 4: 4, 63: 63, 44: 44, '28 & 22': 28, '22, 57, 31': 22,
    "20's": 20, 43: 43, 67: 67, 74: 74, '9 & 60': 9, 6: 6, 3: 3, 82: 82,
    '40?': 40, 66: 66, 72: 72, '23': 23, '12': 12, '36': 36, '63': 63, '71': 71,
    '48': 48, '70': 70, 1: 1, '57': 57, '7': 7, '28': 28, '33': 33, '61': 61, '74': 74,
    '27': 27, '3': 3, '28 & 26': 28, '5': 5, '54': 54, '86': 86, '18 or 20': 18,
    '12 or 13': 12, '46 & 34': 46, '28, 23 & 30': 28, 77: 77, '36 & 26': 36,
    '8 or 10': 8, 84: 84, '\xa0 ': None, ' ': None, '30 or 36': 30, '21 & ?': 21,
    '33 or 37': 33, '23 & 20': 23, 5: 5, ' 30': 30, '7      &    31': 7, ' 28': 28,
    '20?': 20, "60's": 60, '69': 69, '32 & 30': 32, '16 to 18': 16, '87': 87,
    'Elderly': 75, '74 ': 74, '45 ': 45, '21 or 26': 21, '20 ': 20,
    '18 to 22': 18, '9 & 12': 9, '? & 19': None, '25 to 35': 25, '23 & 26': 23,
    '33 & 37': 33, '25 or 28': 25, '37, 67, 35, 27,  ? & 27': 37,
    '21, 34,24 & 35': 21, '30 & 32': 30, '50 & 30': 50, '17 & 35': 17, 'X': None,
    '13 or 18': 13, '34 & 19': 34, '33 & 26': 33, '4': 4, 'MAKE LINE GREEN': None,
    ' 43': 43, '81': 81, '7 or 8': 7, 78: 78, '17 & 16': 17, 'F': None, 'Both 11': 11,
    '9 or 10': 9, '36 & 23': 36, '  ': None, '78': 78, 'A.M.': None,
    '?    &   14': None, '10 or 12': 10, '31 or 33': 31, 2: 2, '1': 1,
    '13 or 14': 13,
    '30+': 30,
    '40+': 40,
    '60+': 60,
    'Middle age': 45,
    '45': 45,
    '30s': 30,
    '65': 65,
    '60': 60,
    '20s': 20,
    '50s': 50,
    '41': 41,
    '68': 68,
    '40s': 40,
    'teen': 16,
    'Teen': 16,
    '60s': 60,
    'a minor': 15,
    '18 months': 1,
    'Teens': 16,
    '6½': 6,
    'mid-30s': 35,
    'mid-20s': 25,
    'Ca. 33': 33,
    '>50': 51,
    'adult': 30,
    '9 months': 1,
    '(adult)': 30,
    '"middle-age"': 45,
    '2 to 3 months': 1,
    '"young"': 20,
    'young': 20,
    '2½': 2
}

df_new["age"] = df_new["age"].replace(age_cleaning)

/var/folders/y6/yy6xx0td03j17rtqbfny6l900000gn/T/ipykernel_15102/4177280609.py:68: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_new["age"] = df_new["age"].replace(age_cleaning)

#### 5.5 "country" variable (Sara)

In [177]:
country_cleaning = {
    ' tonga': 'tonga',
    ' philippines': 'philippines',
    'america samoa': 'american samoa',
    'admiralty islands': 'papua new guinea',
    'africa': 'ghana',
    'algeria': 'algeria',
    'american samoa': 'american samoa',
    'andaman / nicobar islandas': 'india',
    'andaman islands': 'india',
    'angola': 'angola',
    'antigua': 'antigua',
    'aruba': 'aruba',
    'asia?': 'china',
    'australia': 'australia',
    'azores': 'portugal',
    'bahamas': 'bahamas',
    'bahrein': 'bahrain',
    'bangladesh': 'bangladesh',
    'barbados': 'barbados',
    'bay of bengal': 'india',
    'belize': 'belize',
    'bermuda': 'united kingdom',
    'between portugal & india': 'portugal',
    'brazil': 'brazil',
    'british isles': 'united kingdom',
    'british new guinea': 'papua new guinea',
    'british overseas territory': 'united kingdom',
    'british virgin islands': 'united kingdom',
    'british west indies': 'jamaica',
    'burma': 'myanmar',
    'cape verde': 'cape verde',
    'caribbean sea': 'jamaica',
    'cayman islands': 'united kingdom',
    'ceylon': 'sri lanka',
    'ceylon (sri lanka)': 'sri lanka',
    'chile': 'chile',
    'china': 'china',
    'colombia': 'colombia',
    'columbia': 'colombia',
    'comoros': 'comoros',
    'cook islands': 'new zealand',
    'coral sea': 'australia',
    'costa rica': 'costa rica',
    'croatia': 'croatia',
    'curacao': 'netherlands',
    'cyprus': 'cyprus',
    'djibouti': 'djibouti',
    'dominican republic': 'dominican republic',
    'ecuador': 'ecuador',
    'egypt': 'egypt',
    'egypt ': 'egypt',
    'egypt / israel': 'egypt',
    'el salvador': 'el salvador',
    'england': 'united kingdom',
    'equatorial guinea / cameroon': 'equatorial guinea',
    'falkland islands': 'united kingdom',
    'federated states of micronesia': 'micronesia',
    'fiji': 'fiji',
    'france': 'france',
    'french polynesia': 'france',
    'gabon': 'gabon',
    'georgia': 'georgia',
    'ghana': 'ghana',
    'greece': 'greece',
    'greenland': 'denmark',
    'grenada': 'grenada',
    'guam': 'usa',
    'guatemala': 'guatemala',
    'guinea': 'guinea',
    'guyana': 'guyana',
    'haiti': 'haiti',
    'hawaii': 'usa',
    'honduras': 'honduras',
    'hong kong': 'china',
    'india': 'india',
    'indian ocean': 'india',
    'indian ocean?': 'india',
    'indonesia': 'indonesia',
    'iran': 'iran',
    'iran / iraq': 'iran',
    'iraq': 'iraq',
    'ireland': 'ireland',
    'israel': 'israel',
    'italy': 'italy',
    'italy / croatia': 'italy',
    'jamaica': 'jamaica',
    'japan': 'japan',
    'java': 'indonesia',
    'jordan': 'jordan',
    'johnston island': 'usa',
    'kenya': 'kenya',
    'kiribati': 'kiribati',
    'kuwait': 'kuwait',
    'lebanon': 'lebanon',
    'liberia': 'liberia',
    'libya': 'libya',
    'madagascar': 'madagascar',
    'malaysia': 'malaysia',
    'maldives': 'maldives',
    'maldive islands': 'maldives',
    'malta': 'malta',
    'marshall islands': 'marshall islands',
    'martinique': 'france',
    'mauritius': 'mauritius',
    'mayotte': 'france',
    'mediterranean sea': 'italy',
    'mexico': 'mexico',
    'mexico ': 'mexico',
    'mid atlantic ocean': 'brazil',
    'mid-pacifc ocean': 'usa',
    'micronesia': 'micronesia',
    'monaco': 'monaco',
    'montenegro': 'montenegro',
    'morocco': 'morocco',
    'mozambique': 'mozambique',
    'namibia': 'namibia',
    'netherlands antilles': 'netherlands',
    'nevis': 'saint kitts and nevis',
    'new britain': 'papua new guinea',
    'new caledonia': 'france',
    'new guinea': 'papua new guinea',
    'new zealand': 'new zealand',
    'nicaragua': 'nicaragua',
    'nicaragua ': 'nicaragua',
    'niger': 'niger',
    'nigeria': 'nigeria',
    'north atlantic ocean': 'canada',
    'north atlantic ocean ': 'canada',
    'north pacific ocean': 'usa',
    'north sea': 'united kingdom',
    'northern arabian sea': 'india',
    'northern mariana islands': 'usa',
    'norway': 'norway',
    'ocean': 'usa',
    'okinawa': 'japan',
    'palau': 'palau',
    'palestinian territories': 'palestine',
    'panama': 'panama',
    'paraguay': 'paraguay',
    'pacific ocean': 'usa',
    'pacific ocean ': 'usa',
    'peru': 'peru',
    'philippines': 'philippines',
    'portugal': 'portugal',
    'puerto rico': 'usa',
    'red sea': 'egypt',
    'red sea / indian ocean': 'egypt',
    'red sea?': 'egypt',
    'reunion': 'france',
    'reunion island': 'france',
    'roatan': 'honduras',
    'russia': 'russia',
    'saint kitts and nevis': 'saint kitts and nevis',
    'san domingo': 'dominican republic',
    'samoa': 'samoa',
    'scotland': 'united kingdom',
    'senegal': 'senegal',
    'seychelles': 'seychelles',
    'sierra leone': 'sierra leone',
    'singapore': 'singapore',
    'slovenia': 'slovenia',
    'solomon islands': 'solomon islands',
    'solomon islands / vanuatu': 'solomon islands',
    'somalia': 'somalia',
    'south africa': 'south africa',
    'south atlantic ocean': 'brazil',
    'south china sea': 'china',
    'south korea': 'south korea',
    'south pacific ocean': 'australia',
    'southwest pacific ocean': 'australia',
    'spain': 'spain',
    'st helena, british overseas territory': 'united kingdom',
    'st kitts / nevis': 'saint kitts',
    'st martin': 'france',
    'st. maartin': 'france',
    'st. martin': 'france',
    'sri lanka': 'sri lanka',
    'sudan': 'sudan',
    'sudan?': 'sudan',
    'suriname': 'suriname',
    'sweden': 'sweden',
    'switzerland': 'switzerland',
    'syrian arab republic': 'syria',
    'taiwan': 'taiwan',
    'tanzania': 'tanzania',
    'tasman sea': 'australia',
    'thailand': 'thailand',
    'the balkans': 'croatia',
    'trinidad': 'trinidad',
    'trinidad & tobago': 'trinidad',
    'tunisia': 'tunisia',
    'turkey': 'turkey',
    'turks & caicos': 'turks and caicos',
    'turks and caicos': 'turks and caicos',
    'tuvalu': 'tuvalu',
    'united arab emirates': 'united arab emirates',
    'united arab emirates (uae)': 'united arab emirates',
    'united kingdom': 'united kingdom',
    'uruguay': 'uruguay',
    'usa': 'usa',
    'vanuatu': 'vanuatu',
    'venezuela': 'venezuela',
    'vietnam': 'vietnam',
    'west indies': 'jamaica',
    'western samoa': 'samoa',
    'yemen': 'yemen',
    'yemen ': 'yemen', 'IRAQ': 'Iraq', 'IRAN':'Iran'}

df_new["country"] = df_new["country"].replace(country_cleaning)

In [179]:
df_new["country"] = df_new["country"].apply(lambda x: x.lower() if type(x) == str else x )
df_new["country"].unique()

array(['australia', 'philippines', 'bahamas', 'turks and caicos',
       'mozambique', 'usa', 'france', 'egypt', 'thailand', 'new zealand',
       'maldives', 'honduras', 'indonesia', 'morocco', 'jamaica',
       'belize', 'tobago', 'india', 'trinidad', 'south africa', 'mexico',
       'spain', 'portugal', 'samoa', 'colombia', 'ecuador', 'cuba',
       'brazil', 'seychelles', 'argentina', 'fiji', 'united kingdom',
       'japan', 'costa rica', 'canada', 'jordan', 'saint kitts',
       'papua new guinea', 'israel', 'china', 'ireland', 'italy',
       'malaysia', 'libya', nan, 'mauritius', 'solomon islands',
       'comoros', 'united arab emirates', 'cape verde',
       'dominican republic', 'aruba', 'atlantic ocean', 'greece',
       'kiribati', 'diego garcia', 'taiwan', 'palestine', 'nigeria',
       'tonga', 'croatia', 'saudi arabia', 'chile', 'antigua', 'kenya',
       'russia', 'south korea', 'malta', 'vietnam', 'madagascar',
       'panama', 'somalia', 'saint kitts and nevis', 'norway', 'senegal',
       'yemen', 'gulf of aden', 'sierra leone', 'grand cayman', 'liberia',
       'vanuatu', 'venezuela', 'sri lanka', 'uruguay', 'micronesia',
       'tanzania', 'marshall islands', 'el salvador', 'angola',
       'montenegro', 'iran', 'tunisia', 'namibia', 'bangladesh', 'palau',
       'grenada', 'iraq', 'turkey', 'singapore', 'sudan', 'persian gulf',
       'nicaragua', 'american samoa', 'gabon', 'guatemala', 'netherlands',
       'central pacific', 'slovenia', 'iceland', 'barbados', 'monaco',
       'guyana', 'haiti', 'kuwait', 'crete', 'cyprus', 'myanmar',
       'lebanon', 'paraguay', 'georgia', 'syria', 'tuvalu', 'guinea',
       'equatorial guinea', 'peru', 'ghana', 'algeria', 'coast of africa',
       'denmark', 'sweden', 'djibouti', 'bahrain', 'korea'], dtype=object)

In [181]:
def cluster_country(country):
    if pd.isna(country):
        return 'Unknown'

    country = country.lower()

    if country in ['australia', 'new zealand', 'papua new guinea', 'fiji', 'samoa', 'solomon islands', 'vanuatu', 'kiribati', 'micronesia', 'tuvalu', 'marshall islands']:
        return 'Australia & Oceania'
    elif country in ['usa', 'canada', 'mexico']:
        return 'North America'
    elif country in ['brazil', 'argentina', 'colombia', 'peru', 'venezuela', 'chile', 'ecuador', 'guyana', 'suriname', 'paraguay', 'uruguay']:
        return 'South America'
    elif country in ['france', 'united kingdom', 'germany', 'italy', 'spain', 'portugal', 'greece', 'netherlands', 'croatia', 'ireland', 'sweden', 'norway', 'slovenia', 'switzerland', 'monaco']:
        return 'Europe'
    elif country in ['egypt', 'morocco', 'south africa', 'nigeria', 'ghana', 'algeria', 'kenya', 'namibia', 'mozambique', 'libya', 'liberia', 'senegal', 'sierra leone', 'djibouti', 'tanzania', 'sudan', 'angola']:
        return 'Africa'
    elif country in ['china', 'india', 'japan', 'south korea', 'north korea', 'bangladesh', 'vietnam', 'thailand', 'malaysia', 'indonesia', 'sri lanka', 'taiwan', 'myanmar']:
        return 'Asia'
    elif country in ['iran', 'iraq', 'saudi arabia', 'united arab emirates', 'jordan', 'israel', 'palestine', 'yemen', 'kuwait', 'lebanon', 'turkey', 'syria']:
        return 'Middle East'
    elif country in ['bahamas', 'jamaica', 'dominican republic', 'haiti', 'barbados', 'trinidad', 'antigua', 'cuba', 'puerto rico', 'aruba', 'belize', 'grenada', 'saint kitts and nevis', 'turks and caicos']:
        return 'Caribbean'
    else:
        return 'Other'

In [189]:
df_new['country'] = df_new['country'].apply(cluster_country)

In [185]:
print(df_new['country_clustered'].value_counts())

country_clustered
North America          2712
Australia & Oceania    1955
Africa                  768
Europe                  457
Caribbean               273
Other                   271
Asia                    229
South America           193
Middle East              87
Unknown                  50
Name: count, dtype: int64

#### 5.6 "activity" variable (Engin)

#### 5.6 "year" and "date" variables

In [72]:
# I dropped the "date" column and I will keep only the year one, as this is much more representative.

df_new.drop('date', axis=1, inplace=True)

print(df_new["year"].unique())
print(df_new["year"].value_counts())

[2025. 2024. 2026. 2023. 2022. 2021. 2020. 2019. 2018. 2017.   nan 2016.
 2015. 2014. 2013. 2012. 2011. 2010. 2009. 2008. 2007. 2006. 2005. 2004.
 2003. 2002. 2001. 2000. 1999. 1998. 1997. 1996. 1995. 1984. 1994. 1993.
 1992. 1991. 1990. 1989. 1969. 1988. 1987. 1986. 1985. 1983. 1982. 1981.
 1980. 1979. 1978. 1977. 1976. 1975. 1974. 1973. 1972. 1971. 1970. 1968.
 1967. 1966. 1965. 1964. 1963. 1962. 1961. 1960. 1959. 1958. 1957. 1956.
 1955. 1954. 1953. 1952. 1951. 1950. 1949. 1948. 1848. 1947. 1946. 1945.
 1944. 1943. 1942. 1941. 1940. 1939. 1938. 1937. 1936. 1935. 1934. 1933.
 1932. 1931. 1930. 1929. 1928. 1927. 1926. 1925. 1924. 1923. 1922. 1921.
 1920. 1919. 1918. 1917. 1916. 1915. 1914. 1913. 1912. 1911. 1910. 1909.
 1908. 1907. 1906. 1905. 1904. 1903. 1902. 1901. 1900. 1899. 1898. 1897.
 1896. 1895. 1894. 1893. 1892. 1891. 1890. 1889. 1888. 1887. 1886. 1885.
 1884. 1883. 1882. 1881. 1880. 1879. 1878. 1877. 1876. 1875. 1874. 1873.
 1872. 1871. 1870. 1869. 1868. 1867. 1866. 1865. 1864. 1863. 1862. 1861.
 1860. 1859. 1858. 1857. 1856. 1855. 1853. 1852. 1851. 1850. 1849. 1847.
 1846. 1845. 1844. 1842. 1841. 1840. 1839. 1837. 1836. 1835. 1834. 1832.
 1831. 1830. 1829. 1828. 1827. 1826. 1825. 1823. 1822. 1819. 1818. 1817.
 1816. 1815. 1812. 1811. 1810. 1808. 1807. 1805. 1804. 1803. 1802. 1801.
 1800. 1797. 1792. 1791. 1788. 1787. 1786. 1785. 1784. 1783. 1780. 1779.
 1776. 1771. 1767. 1764. 1758. 1753. 1751. 1749. 1755. 1748. 1742. 1738.
 1733. 1723. 1721. 1703. 1700. 1642. 1691. 1640. 1638. 1637. 1617. 1595.
 1580. 1555. 1554. 1543. 1518. 1500. 1000.   77.    5.    0.]
year
2015.0    143
2017.0    140
2016.0    133
0.0       129
2011.0    128
         ...
1785.0      1
1784.0      1
1783.0      1
1780.0      1
1800.0      1
Name: count, Length: 261, dtype: int64

In [200]:
# Activity variable cleaning

print(df_new["activity"].unique())
print(df_new["activity"].value_counts())

['Swimming' 'Surfing' 'Diving' 'Kayaking' 'Fishing' 'Wading' 'Other'
 'Ship incident' 'Paddleboarding' 'Unknown' 'Body boarding' 'Standing'
 'Spearfishing']
activity
Swimming          1509
Surfing           1420
Fishing           1287
Diving             706
Other              612
Unknown            584
Ship incident      262
Wading             190
Standing           160
Body boarding      134
Kayaking            85
Paddleboarding      32
Spearfishing        14
Name: count, dtype: int64

In [132]:
def cluster_activity(activity):
    if pd.isna(activity):
        return 'Unknown'
    
    activity_lower = activity.lower()

    if any(word in activity_lower for word in ['swim', 'bathing', 'float', 'pool']):
        return 'Swimming'
    elif 'surf' in activity_lower:
        return 'Surfing'
    elif any(word in activity_lower for word in ['fishing', 'angling', 'net']):
        return 'Fishing'
    elif any(word in activity_lower for word in ['spear', 'harpoon']):
        return 'Spearfishing'
    elif 'wading' in activity_lower or 'wade' in activity_lower:
        return 'Wading'
    elif any(word in activity_lower for word in ['dive', 'scuba', 'snorkel', 'free diving', 'diving', 'freediving']):
        return 'Diving'
    elif any(word in activity_lower for word in ['body boarding', 'boogie boarding', 'body-boarding']):
        return 'Body boarding'
    elif any(word in activity_lower for word in ['kayaking', 'canoeing', 'rowing']):
        return 'Kayaking'
    elif any(word in activity_lower for word in ['paddle', 'stand-up', 'rowing', 'SUP']):
        return 'Paddleboarding'
    elif any(word in activity_lower for word in ['shipwreck', 'treading water', 'fell overboard', 'fell into the water', 'sea disaster','jump', 'boat']):
        return 'Ship incident'
    elif any(word in activity_lower for word in ['standing', 'walking']):
        return 'Standing'
    else:
        return 'Other'

In [154]:
df_new['activity'] = df_new['activity'].apply(cluster_activity)

In [150]:
print(df_new['activity_clustered'].value_counts())

activity_clustered
Swimming          1509
Surfing           1420
Fishing           1287
Diving             706
Other              612
Unknown            584
Ship incident      262
Wading             190
Standing           160
Body boarding      134
Kayaking            85
Paddleboarding      32
Spearfishing        14
Name: count, dtype: int64

In [140]:
other_activities = df_new[df_new["activity_clustered"] == "Other"]["activity"]

In [142]:
print(other_activities.value_counts().head(30))

activity
Playing                                                                                                                                         13
Sailing                                                                                                                                          9
Murder                                                                                                                                           6
Feeding sharks                                                                                                                                   5
Tagging sharks                                                                                                                                   4
Lifesaving drill                                                                                                                                 4
Splashing                                                                                                                                        4
Clamming                                                                                                                                         4
Watercraft                                                                                                                                       4
Crabbing                                                                                                                                         3
Shark watching                                                                                                                                   3
Escaping from Alacatraz                                                                                                                          3
Paddling                                                                                                                                         3
Suicide                                                                                                                                          3
Their 9 m launch was run down by a 25,000-ton Japanese freighter  on the night of 3-11-1977 & they drifted, clinging to an icebox for 2 days     3
Sculling                                                                                                                                         3
Wreck of the schooner Pohoiki                                                                                                                    3
SUP                                                                                                                                              3
Feeding fish                                                                                                                                     3
Sitting                                                                                                                                          3
Knocked overboard                                                                                                                                3
Unknown                                                                                                                                          3
Playing in the water                                                                                                                             3
Kiteboarding                                                                                                                                     2
Kite boarding                                                                                                                                    2
Sitting in the water                                                                                                                             2
.                                                                                                                                                2
Washing his feet                                                                                                                                 2
Splashing                                                                                                                                        2
Jet skiing                                                                                                                                       2
Name: count, dtype: int64

In [197]:
# Download it as an excel file

df_new.to_excel("data_for_analysis.xlsx", index=False)