In [4]:
import pandas as pd
df = pd.read_excel('/Users/josebabermejo/Ironhack/5. Quests/GSAF5 (1).xls')

In [6]:
!pip install openpyxl
!pip install xlrd

Requirement already satisfied: openpyxl in /opt/anaconda3/lib/python3.12/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /opt/anaconda3/lib/python3.12/site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: xlrd in /opt/anaconda3/lib/python3.12/site-packages (2.0.1)

## Quest 2
You will initially examine the Shark Attack dataset, understanding its structure and formulating a hypothesis or several hypotheses about the data. For example, you might hypothesize that shark attacks are more common in certain geographical locations, or among individuals engaging in particular activities.

If you want to go further, you could even define a Business Case, such as “As a company that sells diving trips, I want to suggest destination for shark spotting”, or “ As a company that sells surf experiences or surf boards, I want to know where to set up a new shop and avoid shark attacks”.

Throughout the project, you'll utilize Python programming and the pandas library to implement at least five data cleaning techniques to handle issues such as missing values, duplicates, and formatting inconsistencies. Once the dataset is cleaned, you'll use basic exploratory data analysis to validate your initial hypotheses and extract meaningful insights.

## Business Case

As a company that offers ocean-based adventure experiences (e.g., snorkeling, diving, and eco-tourism), we want to assess and minimize the risk of fatal shark encounters by understanding when and under what circumstances these incidents are most likely to occur.

### Hypothesis: 
“In the last 25 years shark attacks are more likely to result in fatalities when they are unprovoked" [Date, Fatal Y/N, Type]

"Australia is the area with more fatal shark attacks in victims doing underwater activities" [Country, Activity, Fatal Y/N]

"Males are more likely to be attacked if they are 25 years old or younger" [age, gender]

In [202]:
df

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,2025-03-26 00:00:00,2025.0,Unprovoked,Australia,WA,Sandtrax Port Beach North Fremantle Perth,Swimming,Unknown Male,M,30+,...,1.5m Tiger shark,Kevin McMurray Trackingsharks.com: www.surfer....,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-03-10 00:00:00,2025.0,Unprovoked,Australia,WA,Duke of Orleans Bay,Surfing,Steven Jeffrey Payne,M,37,...,Great White Shark,Bob Myatt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-03-07 00:00:00,2025.0,Unprovoked,Australia,NSW,Gunyah beach Bundeena Port Hacking,Swimming,Mangyong Zhang,F,56,...,Bull shark,Bob Myatt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2025-02-27 00:00:00,2025.0,Unprovoked,Australia,Victoria,Nuns Beach near Portland,Swimming,Robbie Houlihan,M,40+,...,Not stated,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,27-Feb-25,2025.0,Questionable,Philippines,Batangas Resort,Verde Island,SCUBA Diving,Illia Peregudin,M,29,...,Not stated,Stephen Parkhill Glen Folkard,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
7005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
7006,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
7007,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
7008,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [200]:
df_new

,date,year,type,country,activity,sex,age,fatal
0,2025-03-26 00:00:00,2025.0,Unprovoked,Australia,Swimming,M,30,N
1,2025-03-10 00:00:00,2025.0,Unprovoked,Australia,Surfing,M,37,Y
2,2025-03-07 00:00:00,2025.0,Unprovoked,Australia,Swimming,F,56,N
3,2025-02-27 00:00:00,2025.0,Unprovoked,Australia,Swimming,M,40,N
4,27-Feb-25,2025.0,Questionable,Philippines,SCUBA Diving,M,29,Y
...,...,...,...,...,...,...,...,...
7004,Before 1903,0.0,Unprovoked,AUSTRALIA,Diving,M,NaN,Y
7005,Before 1903,0.0,Unprovoked,AUSTRALIA,Pearl diving,M,NaN,Y
7006,1900-1905,0.0,Unprovoked,USA,Swimming,M,NaN,Y
7007,1883-1889,0.0,Unprovoked,PANAMA,NaN,M,NaN,Y
7008,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Swimming,M,15,Y

In [8]:
df.Age.value_counts()

Age
16             92
19             90
17             89
18             85
17             85
               ..
28, 23 & 30     1
46 & 34         1
12 or 13        1
18 or 20        1
13 or 14        1
Name: count, Length: 249, dtype: int64

In [10]:
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')

In [12]:
df_new = df[['Date', 'Year', 'Type', 'Country', 'Activity','Sex', 'Age', 'Fatal Y/N']]

- Date: We only need to get the info from the cells if the year is 0000, and transfer it to the Year columns.
- Year: Add a year to the 0000 columns or empty columns, getting info from the date column.
- Type: Reduce everything to Provoked/Unprovoked. There are other values like invalid, watercraft, sea disaster, etc.
- Country: Pile caribbean countries into "Caribbean", and clean the rest of the countries to reflect only one name. Compare them with Australia.
- Activity: Divide underwater (diving, scuba diving, free diving, snorkelling) with the rest of activities (swimming, fishing, surfing, etc.).
- Sex: Clean it to reflect only M/F
- Age: Create two groups (1. over or equal to 25 and 2. under 25)
- Fatal: Clean it to reflect Y/N.

In [143]:
df_new

,date,year,type,country,activity,sex,age,fatal
0,2025-03-26 00:00:00,2025.0,Unprovoked,Australia,Swimming,M,30+,N
1,2025-03-10 00:00:00,2025.0,Unprovoked,Australia,Surfing,M,37,Y
2,2025-03-07 00:00:00,2025.0,Unprovoked,Australia,Swimming,F,56,N
3,2025-02-27 00:00:00,2025.0,Unprovoked,Australia,Swimming,M,40+,N
4,27-Feb-25,2025.0,Questionable,Philippines,SCUBA Diving,M,29,Y
...,...,...,...,...,...,...,...,...
7004,Before 1903,0.0,Unprovoked,AUSTRALIA,Diving,M,NaN,Y
7005,Before 1903,0.0,Unprovoked,AUSTRALIA,Pearl diving,M,NaN,Y
7006,1900-1905,0.0,Unprovoked,USA,Swimming,M,NaN,Y
7007,1883-1889,0.0,Unprovoked,PANAMA,NaN,M,NaN,Y
7008,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Swimming,M,15,Y

## 1. Put all columns with lowercase

In [16]:
df_new.columns = ['date', 'year', 'type', 'country', 'activity', 'sex', 'age',
       'fatal']

## 2. Eliminate rows with all values missing.

In [21]:
df_new = df_new.dropna(how='all')

## 3. Checking if there are any null values in columns

In [30]:
df_new.isna().any()

# We understand from here that we need to work in all the columns, including the standardization of date.

date        False
year         True
type         True
country      True
activity     True
sex          True
age          True
fatal        True
dtype: bool

## 4. Checking number of unique values for each variable

In [233]:
df_new.nunique()

date        6045
year         261
type           6
country      242
activity    1598
sex            2
age          223
fatal          3
dtype: int64

In [238]:
df_new.isnull().sum()

date           0
year           2
type          18
country       50
activity     584
sex          571
age         2984
fatal        560
dtype: int64

## 5. I will start replacing invalid values in variables

#### 5.1 "sex" variable

In [217]:
df["Sex"].unique()

array(['M', 'F ', 'F', 'M ', nan, ' M', 'lli', 'M x 2', 'N', '.'],
      dtype=object)

In [223]:
df_new["sex"].value_counts()

sex
M    5626
F     798
Name: count, dtype: int64

In [139]:
# Here I replaced the invalid values for usable values

sex_cleaning = {'F ':'F', 'M ':'M', ' M':'M', 'M x 2':'M', 'N':'M'}
df_new["sex"] = df_new["sex"].replace(sex_cleaning)

In [77]:
# Here I removed the last unique values that weren't "F" or "M". 
# "sex" column has now only "F" or "M" but has still 579 null values. Will check them later to see if we want to keep them or not.

df_new = df_new[(df_new['sex'] != "lli") & (df_new['sex'] != ".")] # | means OR and & meand AND when filtering

#### 5.2 "fatal" variable

In [162]:
df_new["fatal"].unique()

array(['N', 'Y', nan, 'UNKNOWN'], dtype=object)

In [244]:
df_new["fatal"].value_counts()

fatal
N          4882
Y          1482
UNKNOWN      71
Name: count, dtype: int64

In [91]:
# Here I replaced the invalid values for usable values
fatal_cleaning = {'F':'Y', 'M':'N', 'n':"N", 'Nq':"N",'Y x 2':'Y', ' N':'N','N ':'N', 'y':'Y'}
df_new["fatal"] = df_new["fatal"].replace(fatal_cleaning)

In [127]:
# Here I removed the last unique values that weren't "Y" or "N" or "UNKNOWN".
# "fatal" column has now only "Y", "N" or "UNKNOWN" but it has still null values. 
# Will check them later to see if we want to keep them or not.

df_new = df_new[(df_new['fatal'] != 2017)]

#### 5.3 "type" variable

In [169]:
print(df_new["type"].unique())
print(df_new["type"].value_counts())

['Unprovoked' 'Questionable' 'Provoked' 'Watercraft' 'Sea Disaster' nan
 'Invalid']
type
Unprovoked      5166
Provoked         638
Invalid          552
Watercraft       355
Sea Disaster     241
Questionable      25
Name: count, dtype: int64

In [129]:
# Here I replaced the invalid values for usable values. However there are values that are not correlated to the question. 
# I will leave them for further analysis later.

type_cleaning = {' Provoked':'Provoked'}
df_new["type"] = df_new["type"].replace(type_cleaning)

In [135]:
# Here I excluded the variables with less than 7 observations, as these are marginal values and non-representative in the sample size.

df_new = df_new[(df_new['type'] != "Boat") & (df_new['type'] != "?") & (df_new['type'] != "Unconfirmed") 
& (df_new['type'] != "Unverified") & (df_new['type'] != "Under investigation")]

In [137]:
# "type" column has now only "Provoked", "Unprovoked", "Invalid", "Watercraft", "Sea disaster" & "Questionable" and null values. 
# Will check them later to see what to do with the non relevant categories and null values.

#### 5.4 "age" variable

In [177]:
print(df_new["age"].unique())
print(df_new["age"].value_counts())

[30 '37' '56' 40 '29' 35 58 29 24 20 55 17 12 37 36 23 28 '?' 69 48 60 57
 45 61 27 38 16 68 33 15 41 14 26 18 21 49 25 46 19 65 64 '13' nan '11'
 '46' '32' '10' '64' '62' '39' '22' '15' '16' '21' '66' '52' '20' '44'
 '26' '47' '55' '30' '59' '8' '50' '45' '34' '38' '9' '19' '20/30' '35'
 '65' '77' '60' '49' '42' '!2' '24' '73' '25' '18' '58' '67' '17' '14' '6'
 '41' '53' '68' '43' '40' '51' '31' 39 51 10 13 62 8 22 32 56 42 50 'M' 9
 11 34 '!6' 31 '!!' 47 7 71 59 53 54 75 '45 and 15' 73 52 70 4 63 44
 '28 & 22' '22, 57, 31' "20's" 43 67 74 '9 & 60' 6 3 82 '40?' 66 72 '23'
 '12' '36' '63' '71' '48' '70' 1 '57' '7' '28' '33' '61' '74' '27' '3'
 '28 & 26' '5' '54' '86' '18 or 20' '12 or 13' '46 & 34' '28, 23 & 30' 77
 '36 & 26' '8 or 10' 84 '\xa0 ' ' ' '30 or 36' '21 & ?' '33 or 37'
 '23 & 20' 5 ' 30' '7      &    31' ' 28' '20?' "60's" '69' '32 & 30'
 '16 to 18' '87' 'Elderly' '74 ' '45 ' '21 or 26' '20 ' '18 to 22'
 '9 & 12' '? & 19' '25 to 35' '23 & 26' '33 & 37' '25 or 28'
 '37, 67, 35, 27,  ? & 27' '21, 34,24 & 35' '30 & 32' '50 & 30' '17 & 35'
 'X' '13 or 18' '34 & 19' '33 & 26' '4' 'MAKE LINE GREEN' ' 43' '81'
 '7 or 8' 78 '17 & 16' 'F' 'Both 11' '9 or 10' '36 & 23' '  ' '78' 'A.M.'
 '?    &   14' '10 or 12' '31 or 33' 2 '1' '13 or 14']
age
15             92
16             92
19             90
17             89
18             88
               ..
36 & 26         1
77              1
28, 23 & 30     1
46 & 34         1
13 or 14        1
Name: count, Length: 223, dtype: int64

In [173]:
# Here I replaced the invalid values for usable values
age_cleaning = {
    "30+": 30,
    "40+": 40,
    "60+": 60,
    "middle age": 45,
    "Middle age": 45,
    '"middle-age"': 45,
    "mid-30s": 35,
    "mid-20s": 25,
    "20s": 25,
    "30s": 35,
    "40s": 45,
    "50s": 55,
    "60s": 65,
    "Teen": 15,
    "teen": 15,
    "Teens": 15,
    "young": 18,
    '"young"': 18,
    "adult": 30,
    "(adult)": 30,
    "a minor": 15,
    "9 months": 1,
    "18 months": 1,
    "2 to 3 months": 1,
    "6½": 6,
    "2½": 2,
    ">50": 51,
    "Ca. 33": 33}

df_new["age"] = df_new["age"].replace(age_cleaning)

#### 5.5 "country" variable

#### 5.6 "activity" variable

#### 5.6 "year" and "date" variables

# Year: remove 2 null values and then remove date, because we only need year variable.
- Use year and deprecate date.
# Activities: Either surf/non-surf or underwater/above water. Can we cluster them in two?
- Later on, during the maping. First just map it into surfing, snorkelling, and then cluster them related to the hypothesis. 
# Country: Cluster them in continents? Or erhaps doing Australia/non-australia just to prove the hypothesis?
- Use ChatGPT to uppercase and lowercase, and then work with countries.
# Age: ideas to do it? Int 
# Fatal: Y/N and unknown. What happens with that category?
# Null values: what to donwith them? What number is acceptable to remove?

# Next steps

---------------------
# Sex: just drop the gender unknown, in order to avoid false assumptions. 
# less than 10% to remove is ok in total

In [ ]:
# Activities

if name has surf then consider, return "surf"